body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

button {
   display: flex;
   width: 135px;
   justify-content: center;
   padding: 12px;
   border-radius: 8px;
   color: white;
   font-weight: bold;
   font-size: 15px;
   background-color: #3882f6;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}
a {
    text-decoration: none;
    outline: none;
    color: #e5e7eb;
}

h2 {
    font-weight: 800px;
    font-size: 40px;
    color: #1f2937;
    display: flex;
    margin-top: -2px;
    padding-left: 670px;
}

h3 {
    display: flex;
    margin-top: -8px;
    margin-left: 2px;
    font-size: 30px;
    color: white;

}

.left-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: #1f2937;
}

.left-logo {
    display: flex;
    margin-left: 400px;
}

.right-links {
    display: flex;
    padding-right: 360px;
    gap: 50px;
    align-items: center;
}

.section-1 {
    display: flex;
    height: 300px;
    padding: 40px;
    justify-content: space-between;
    background-color: #1f2937;
}

.rightimage {
    display: flex;
    padding: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    margin-right: 350px;
    color: #1f2937;
    background-color: #e5e7eb;
}

.left-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 355px;
    margin-top: -40px;
    width: 590px;
}


.section-2 {
    display: flex;
    height: 300px;
    justify-content: center;
    padding-top: 20px;
}


.container {
    display: flex;
    margin-left: 480px;
    width: 900px;
    height: 200px;
    align-items: center;
    gap: 80px;
    margin-top: -45px;
    padding-top: 20px;
} 

.box1 {
    display: flex;
    border: 3px solid #3882f6;
    height: 150px;
    width: 190px;
    border-radius: 8px;
}

.box2 {
    display: flex;
    flex-direction: row;
    border: 3px solid #3882f6;
    height: 150px;
    width: 190px;
    border-radius: 8px;
}

.box3 {
    display: flex;
    flex-direction: row;
    border: 3px solid #3882f6;
    height: 150px;
    width: 190px;
    border-radius: 8px;
}

.box4 {
    display: flex;
    flex-direction: row;
    border: 3px solid #3882f6;
    height: 150px;
    width: 200px;
    border-radius: 8px;
}

.textcontainer {
    display: flex;
    justify-content: center;
    margin-left: -15px;
    gap: 36px;
    margin-top: -10px;
}

.text1 {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    padding-left: 10px;
    margin-left: -10px;
}

.text2 {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    padding-left: 10px;
    margin-left: -10px;
}

.text3 {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    padding-left: 10px;
    margin-left: -10px;
}

.text4 {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    padding-left: 10px;
    margin-left: -10px;
}

.section-3 {
    display: flex;
    height: 200px;
    width: 1795px;
    padding: 50px;
    margin-top: 60px;
    background-color: #e5e7eb;
    justify-content: center;
}

.quote {
    display: flex;
    width: 1250px;
    height: 300px;
    font-size: 36px;
    padding-left: 100px;
    font-style: italic;
    color: #1f2937;
    
}

.author {
    display: flex;
    height: 20px;
    margin-top: 180px;
    margin-left: -360px;
    font-weight: bold;
    font-size: 22px;
}

.section-4 {
    display: flex;
    height: 235px;
    justify-content: center;
    margin-top: 35px;
}

.bluecontainer {
    display: flex;
    height: 50px;
    padding: 50px;
    margin-top: 20px;
    background-color: #3882f6;
    border-radius: 15px;
}

.button {
    display: flex;
    border: 2px solid white;
    border-radius: 8px;

}

.mainheader {
    display: flex;
}

.mainsubtext {
    display: flex;
    margin-top: 20px;
    height: 30px;
    width: 800px;
    margin-left: -477px;
    padding: 10px;
    color: white;
    font-size: 17px;
}

.footer {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    font-size: 16px;
}

